body {
  margin: 0;
  padding: 0;

  font-family: 'Shadows Into Light', cursive;
}

h1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;

  width: 100%;
  margin: 0;

  color: rgba(0, 0, 0, .75);
  font-size: 64px;
  line-height: 120px;
  text-align: center;
  letter-spacing: .02em;
}

.container {
  padding-top: 120px;
}

.grid {
  list-style: none;
}

.grid-item {
  img {
    width: 100%;
  }

  &.hidden {
    height: 0;
    overflow: hidden;
  }
}

.loading {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 3000;

  width: 100%;
  padding: 10px;

  text-align: center;
  line-height: 0;
  background-color: #54a9d4;

  opacity: .8;
}

img.preload {
  display: block;
  height: 0;
  overflow: hidden;
  opacity: .01;
}

div.preload {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;

  display: table;

  width: 100%;
  height: 100%;

  background-color: #fff;

  .inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    margin: 0;
    padding: 0;

    background: url('../img/39.gif') no-repeat center;

    color: rgba(255, 255, 255, .6);
    font-size: 36px;
    font-weight: bold;
    letter-spacing: .08em;
  }
}

// SP
@media (max-width: 600px) {
  h1 {
    font-size: 54px;
    line-height: 100px;
  }

  .container {
    padding-top: 100px;
  }

  .grid {
    margin: 0;
    padding: 0;
  }

  .grid-item {
    margin-bottom: 20px;
  }

  .loading {
    padding: 10px;

    img {
      height: 28px;
    }
  }

  div.preload {
    .inner {
      font-size: 42px;
      background-size: 100% auto;
    }
  }
}

// PC
@media (min-width: 601px) {
  .grid {
    margin: 0 auto;
    padding-left: 40px;
  }

  .grid-item {
    width: 360px;
    margin-bottom: 30px;
  }

  $w: 400px;
  @for $i from 1 through 9 {
    .w0#{$i} {
      width: $i * $w;
    }
  }
  @for $i from 10 through 20 {
    .w#{$i} {
      width: $i * $w;
    }
  }
}


.hidden {
  display: none !important;
}
